body {
    margin-left: 75%;
    margin-right: 75%;
}

h1 {
    color: #33485e;
    font-family: 'Montserrat', sans-serif;font-weight: 100;
    text-align: center;
}

img {
    align: right;
    max-width: 300px;
    width: 60%;
    float: right;
 margin: 0 0 0 15px;
}

.photo {
    align: right;
    max-width: 300px;
    width: 60%;
    float: right;
 margin: 0 0 0 15px;
}

.title {
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    border-bottom: 1px solid black; width: 50%;

}

.contact {
    text-align: center;
}

#wapo {
    background-color:#33485e;
    color: #ffffff;

}

.experience, .education, .skills {
    color: #ffffff;
    background-color: #33485e;
    font-family: 'Montserrat', sans-serif;font-weight: 300;
}


h2 {
    color: #FFFFFF;
    background-color: #33485e;
}

h3 {
    font-family: 'Montserrat', sans-serif;font-weight: 100;
}

h4 {
    font-family: 'Montserrat', sans-serif;font-weight: 75;
}

h5 {
    font-family: 'Montserrat', sans-serif;font-weight: 100;
    font-style: italic;
}

.firstjob{
border-bottom: 1px solid black;
}

.secondjob {
    border-bottom: 1px solid black;
}
