h1 {
    color: #33485e;
    font-family: sans-serif;
    text-align: center;
}

img {
    align: right;
    max-width: 300px;
    width: 50%;
    margin-right: 10px;
}

.photo {
    align: right;
    max-width: 300px;
    width: 50%;
    margin-right: 10px;
}

.name {
    text-align: center;
    font-family: sans-serif;
}

.title {
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
}

.contact {
    text-align: center;
}

#wapo {
    background-color:#33485e;
    color: #ffffff;

}

.experience, .education, .skills {
    color: #ffffff;
    background-color: #33485e;
    font-family:sans-serif;

.jobdescrip {
    
}

.jobplace {

}

.jobdates {
    font-style: italic;

}

.h2 {
    color: #FFFFFF;
    background-color: #33485e;
}

.h3 {
    font-family: sans-serif;
}

.h4 {
    font-family: sans-serif;
}

.h5 {
    font-family:sans-serif;
    font-style: italic;
}
